.strong {
  font-weight: bold;
}

.allcaps {
  text-transform: uppercase;
}

.grid1 {
  display: grid;
  grid-template-columns: 100%;
}

.grid2 {
  display: grid;
  grid-template-columns: 100%;
}
@media only screen and (min-width: 768px) {
  .grid2 {
    grid-template-columns: 50% 50%;
  }
}

.grid3-mobile {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
}

.grid3 {
  display: grid;
  grid-template-columns: 100%;
}
@media only screen and (min-width: 768px) {
  .grid3 {
    grid-template-columns: 33.333% 33.333% 33.333%;
  }
}

.grid4 {
  display: grid;
  grid-template-columns: 100%;
}
@media only screen and (min-width: 768px) {
  .grid4 {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.grid6 {
  display: grid;
  grid-template-columns: 100%;
}
@media only screen and (min-width: 768px) {
  .grid6 {
    grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
  }
}

.img-teste {
  width: 100%;
  height: 600px;
  background-color: blue;
}

.op0 {
  opacity: 0;
}

.op25 {
  opacity: 0.25;
}

.op50 {
  opacity: 0.5;
}

.op75 {
  opacity: 0.75;
}

.op100 {
  opacity: 1;
}

.bgsc {
  background-size: cover;
}

.bgsct {
  background-size: contain;
}

.bgpc {
  background-position: center;
}

.bgpt {
  background-position: top;
}

.bgpr {
  background-position: right;
}

.bgpb {
  background-position: bottom;
}

.bgpl {
  background-position: left;
}

.bgrn {
  background-repeat: no-repeat;
}

.bgrx {
  background-repeat: repeat-x;
}

.bgry {
  background-repeat: repeat-y;
}

@media only screen and (max-width: 1200px) {
  .s1 {
    width: 100%;
  }

  .s2 {
    width: 50%;
  }

  .s3 {
    width: 33.33333%;
  }

  .s4 {
    width: 25%;
  }

  .s5 {
    width: 20%;
  }

  .s6 {
    width: 16.66667%;
  }

  .s7 {
    width: 14.28571%;
  }

  .s8 {
    width: 12.5%;
  }

  .s9 {
    width: 11.11111%;
  }

  .s10 {
    width: 10%;
  }

  .s11 {
    width: 9.09091%;
  }

  .s12 {
    width: 8.33333%;
  }

  .s13 {
    width: 90%;
  }

  .s14 {
    width: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .c1 {
    width: 8.33333%;
  }

  .c2 {
    width: 16.66667%;
  }

  .c3 {
    width: 25%;
  }

  .c4 {
    width: 33.33333%;
  }

  .c5 {
    width: 41.66667%;
  }

  .c6 {
    width: 50%;
  }

  .c7 {
    width: 58.33333%;
  }

  .c8 {
    width: 66.66667%;
  }

  .c9 {
    width: 75%;
  }

  .c10 {
    width: 83.33333%;
  }

  .c11 {
    width: 91.66667%;
  }

  .c12 {
    width: 100%;
  }
}
.co0 {
  margin-left: 0;
}

.co1 {
  margin-left: 8.33333%;
}

.co2 {
  margin-left: 16.66667%;
}

.co3 {
  margin-left: 25%;
}

.co4 {
  margin-left: 33.33333%;
}

.co5 {
  margin-left: 41.66667%;
}

.co6 {
  margin-left: 50%;
}

.co7 {
  margin-left: 58.33333%;
}

.co8 {
  margin-left: 66.66667%;
}

.co9 {
  margin-left: 75%;
}

.co10 {
  margin-left: 83.33333%;
}

.co11 {
  margin-left: 91.66667%;
}

.co12 {
  margin-left: 100%;
}

.m0 {
  margin: 0;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.m6 {
  margin: 6rem;
}

.mt0 {
  margin-top: 0;
}

.mt05 {
  margin-top: 0.5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2em;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mt6 {
  margin-top: 6rem;
}

.mr0 {
  margin-right: 0;
}

.mr05 {
  margin-right: 0.5rem;
}

.mr1 {
  margin-right: 1rem;
}

.mr2 {
  margin-right: 2rem;
}

.mr225 {
  margin-right: 2.25rem;
}

.mr3 {
  margin-right: 3rem;
}

.mr4 {
  margin-right: 4rem;
}

.mr5 {
  margin-right: 5rem;
}

.mr6 {
  margin-right: 6rem;
}

.mb0 {
  margin-bottom: 0;
}

.mb025 {
  margin-bottom: 0.25rem;
}

.mb05 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mr225 {
  margin-right: 2.25rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.mb6 {
  margin-bottom: 6rem;
}

.ml0 {
  margin-left: 0;
}

.ml1 {
  margin-left: 1rem;
}

.ml2 {
  margin-left: 2rem;
}

.ml3 {
  margin-left: 3rem;
}

.ml4 {
  margin-left: 4rem;
}

.ml5 {
  margin-left: 5rem;
}

.ml6 {
  margin-left: 6rem;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mx6 {
  margin-left: 6rem;
  margin-right: 6rem;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.my6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.m0a {
  margin: 0 auto;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.pt0 {
  padding-top: 0;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pr0 {
  padding-right: 0;
}

.pr1 {
  padding-right: 1rem;
}

.pr2 {
  padding-right: 2rem;
}

.pr3 {
  padding-right: 3rem;
}

.pr4 {
  padding-right: 4rem;
}

.pb0 {
  padding-bottom: 0;
}

.pb025 {
  padding-bottom: 0.25rem;
}

.pb05 {
  padding-bottom: 0.5rem;
}

.pb075 {
  padding-bottom: 0.75rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pl0 {
  padding-left: 0;
}

.pl05 {
  padding-left: 0.5rem;
}

.pl1 {
  padding-left: 1rem;
}

.pl2 {
  padding-left: 2rem;
}

.pl3 {
  padding-left: 3rem;
}

.pl4 {
  padding-left: 4rem;
}

@media only screen and (min-width: 1200px) {
  .px0 {
    padding-left: 0;
    padding-right: 0;
  }

  .px1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .px2 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .px3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .px4 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .px5 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .px6 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .px8 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .px10 {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .px12 {
    padding-left: 12rem;
    padding-right: 12rem;
  }

  .px14 {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .py0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .py1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .py2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .py3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .py4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .py5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .py6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .py8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .py10 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .py12 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .py14 {
    padding-top: 14rem;
    padding-bottom: 14rem;
  }
}
.fl {
  display: flex;
}

.flac {
  align-items: center;
}

.flab {
  align-items: baseline;
}

.flas {
  align-items: stretch;
}

.flafs {
  align-items: flex-start;
}

.flafe {
  align-items: flex-end;
}

.fldr {
  flex-direction: row;
}

.fldrr {
  flex-direction: row-reverse;
}

.fldc {
  flex-direction: column;
}

.fldcr {
  flex-direction: column-reverse;
}

.fljc {
  justify-content: center;
}

.fljb {
  justify-content: space-between;
}

.flja {
  justify-content: space-around;
}

.fljs {
  justify-content: flex-start;
}

.flje {
  justify-content: flex-end;
}

.flw {
  flex-wrap: wrap;
}

.flwr {
  flex-wrap: wrap-reverse;
}

.flwn {
  flex-wrap: nowrap;
}

.fli {
  flex: initial;
}

.flx {
  flex: 1;
}

.fla {
  flex: auto;
}

.fln {
  flex: none;
}

.flo0 {
  order: 0;
}

.flo1 {
  order: 1;
}

.flo2 {
  order: 2;
}

.flo3 {
  order: 3;
}

.flo4 {
  order: 4;
}

.flot {
  order: -1;
}

.flob {
  order: 99;
}

.fla {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flb50 {
  flex-basis: 40%;
}

.flb100 {
  flex-basis: 80%;
}

.flg {
  flex-grow: 1;
}

.flass {
  align-self: flex-start;
}

.flase {
  align-self: flex-end;
}

.flasc {
  align-self: center;
}

.df {
  display: flex;
}

.db {
  display: block;
}

.di {
  display: inline;
}

.dib {
  display: inline-block;
}

.dt {
  display: table;
}

.dtc {
  display: table-cell;
}

.dtr {
  display: table-row;
}

.dn {
  display: none;
}

.oh {
  overflow: hidden;
}

.os {
  overflow: scroll;
}

.ov {
  overflow: visible;
}

.oxh {
  overflow-x: hidden;
}

.oxs {
  overflow-x: scroll;
}

.oxv {
  overflow-x: visible;
}

.oyh {
  overflow-y: hidden;
}

.oys {
  overflow-y: scroll;
}

.oyv {
  overflow-y: visible;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.pf {
  position: fixed;
}

.ps {
  position: static;
}

.z0 {
  z-index: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.z5 {
  z-index: 5;
}

.z6 {
  z-index: 6;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

.desktop-hidden {
  display: grid;
}
@media only screen and (min-width: 768px) {
  .desktop-hidden {
    display: none;
  }
}

.mobile-hidden {
  display: none;
}
@media only screen and (min-width: 768px) {
  .mobile-hidden {
    display: grid;
  }
}
/*# sourceMappingURL=index.923a8088.css.map */
